<html>

<head>
  <title> Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="todo-overflow-hidden">
    <div class="header-row js-header">
      <div class="menubar-container">
        <div class="brand-logo-name">
          <img src="images/todo-list.jpg">
        </div>

        <nav class="menubar-actions-container">
          <ul class="menubar-actions">
            <li><a class="menubar__action-link " href="/">Home</a></li>
            <li><a class="menubar__action-link " href="/about">More about</a></li>
            <li><a class="menubar__action-link sel_login" href="/login">Log in</a></li>
            <li><a class="menubar__action-link sel_signUp" href="/signUp">Sign up</a></li>
          </ul>
          <br style="clear: both">
        </nav>
      </div>
    </div>
    <br style="clear: both">
    
    <div class="features">
      <section class="features-wrapper">
        <div class="feature-row row-reverse">
          <div class="col">
            <div class="description-holder">
              <h3 class="inline-block"> Samoilik Katsiaryna</h3>
              <h3 class="inline-block"> Email to communicate samoilik.katia@gmail.com</h3>
            </div>
          </div>
          <div class="col image">
            <span class="inline-block feature-item-picture">
              <img src="images/contact.jpg" alt="">
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>

</html>
